<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-Frame-Options" content="SAMEORIGIN"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <link rel="stylesheet" href="%PUBLIC_URL%/css/main.css" />
    <link rel="stylesheet" href="%PUBLIC_URL%/css/style.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    
   
    
    <title>Document</title>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
      video{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
         
      }
      .circle{
          width: 200px;
          height: 200px;
          border: solid black 2px;
          border-radius: 50%;
      }
      
       
      
  
</style>
</head>

<body>
    
    <video class="col-xs-12" id="video-grid"  playsinline autoplay muted></video>
    

    <div class='container'>
        <div class='row justify-content-around  '>
            <div class=' m-5  col-xs-4  '>

                
                <div class=' col-xs-4   divColor'>

                    
                    <!-- sctiom 1 -->
                     <div   class='row  justify-content-center topbtn'>
                        <button id='top' class='top font' >
                            <i class="fal fa-arrow-alt-circle-up"></i>
                        </button>
                       
                    </div> 

                    <!-- //// sctiom 2 -->
                
                    <div class='row justify-content-md-center'>
                       
                        <div class=' col col-xs-1 ml-2 mr-3 rotleft' >
                            <button  id="forwardLeft"  class='left  font '>
                                <i class="fal fa-arrow-alt-circle-left "></i>
                            </button>
                        </div>
                       
                        
                        <div  class='col  col-xs-1 ml-4 rotright'>
                            <button id="forwardright" class='left  font ' >
                                <i class="fal fa-arrow-alt-circle-right "></i>
                            </button>
                        </div> 
                     </div>  
                
                     <!-- ///// sctiom 3 -->


                     <div class='row justify-content-md-center'>
                       
                        <div class=' col col-xs-1 ml-2 mr-3 mt-3 rotright'>
                            <button  id="backLeft"  class='left  font '>
                                <i class="fal fa-arrow-alt-circle-left "></i>
                            </button>
                        </div>
                       
                        
                        <div  class='col  col-xs-1 ml-4 mt-3 rotleft'>
                            <button id="backright" class='left  font ' >
                                <i class="fal fa-arrow-alt-circle-right "></i>
                            </button>
                        </div> 
                        
                        
                     </div>  

                     
                     <!-- //// sctiom 5-->
                    <div class='row justify-content-center bottnbtn ' >
                        <button   id="back" class='buttom font' >
                            <i class="fal fa-arrow-alt-circle-down" ></i>
                        </button>
                    </div>

                </div>
            </div>

            <div class='col-xs-2  clos bt-5'>
                <button class='font bt-5 ' onclick="disconnect()">
                     <a class="font" href="/Admin"><i class="far fa-times-circle"></i></a></button>
            </div>

            <div class='row  col-xs-5 '>
                <div class='col-xs-4  divColorleft'>

                    <div class='row justify-content-center'>
                        <button class='top  font' onmousedown="action('cam up')">
                            <i class="fal fa-arrow-alt-circle-up"></i>
                        </button>
                    </div>

                    <div class='row '>
                        <div class='  mt-2 mb-2 '>
                            <button class='left  font ' onmousedown="action('cam left')">
                                <i class="fal fa-arrow-alt-circle-left "></i>
                            </button>
                        </div>

                        <div class=' col align-self-end  mt-2 mb-2 '>
                            <button class=' right float-right font ml-4'onmousedown="action('cam right')">
                                <i class="fal fa-arrow-alt-circle-right align-self-end " ></i>
                            </button>
                        </div>
                    </div>
                    <div class='row justify-content-center ' >
                        <button class='buttom font'onmousedown="action('cam down')">
                            <i class="fal fa-arrow-alt-circle-down" ></i>
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class='container '>
        <div class='row col-xs-4 justify-content-center btn-s '>
            <div> <button class='btn-1 font-speed  ' onClick="action('speed 1')">
                <i class="far fa-circle spidIcon"></i> <span class='number  '>1 </span> </button>
            </div>
            <div> <button class='btn-1 font-speed ' onClick="action('speed 2')">
                <i class="far fa-circle spidIcon"></i> <span class='number '>2 </span>  </button>
            </div>
            <div> <button class='btn-1 font-speed ' onClick="action('speed 3')">
                <i class="far fa-circle spidIcon"></i> <span class='number '>3 </span> </button>
            </div>
            <div> <button class='btn-1 font-speed ' onClick="action('speed 4')">
                <i class="far fa-circle spidIcon"></i> <span class='number '>4 </span> </button>
            </div>
            <div> <button class='btn-1 font-speed' onClick="action('speed 5')">
                <i class="far fa-circle spidIcon"></i> <span class='number '>5 </span> </button>
            </div>
            <div> <button class='btn-1 font-speed' onClick="action('speed 6')">
                <i class="far fa-circle spidIcon"></i> <span class='number  '>6 </span> </button>
            </div>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>

    <script>
       let peerConnection;
const config = {
  iceServers: <%-iceservers%>
};

const socket = io.connect(window.location.origin);
const video = document.querySelector("video");

////top
document.querySelector('#top').addEventListener('touchstart', function(){
    action('forward')
    
})
document.querySelector('#top').addEventListener('touchend', function(){
    action('stop')
})
////forwardLeft
let leftInterval ;
document.querySelector('#forwardLeft').addEventListener('touchstart', function(){
    leftInterval=setInterval(()=>{
        action('turn left')
 
    },5)
    setTimeout(()=>{
        action('forward')
    },20)
    
    
    
})

document.querySelector('#forwardLeft').addEventListener('touchend', function(){
    clearInterval(leftInterval)
    setTimeout(()=>{
        action('turn forward')
    },10)
   
    action('stop')
    
   
})


////forwardright
let rightInterval ;
document.querySelector('#forwardright').addEventListener('touchstart', function(){
    rightInterval=setInterval(()=>{
        action('turn right')
 
    },5)
    setTimeout(()=>{
        action('forward')
    },20)
    
     
})

document.querySelector('#forwardright').addEventListener('touchend', function(){
    clearInterval(rightInterval)
    setTimeout(()=>{
        action('turn forward')
    },10)
   
    action('stop')
  
})

////backLeft
let leftBackInterval;
document.querySelector('#backLeft').addEventListener('touchstart', function(){
    leftBackInterval=setInterval(()=>{
        action('turn left')
 
    },5)
    setTimeout(()=>{
        action('back')
    },20)
    
    
})

document.querySelector('#backLeft').addEventListener('touchend', function(){
    clearInterval(leftBackInterval)
    setTimeout(()=>{
        action('turn forward')
    },10)
   
    action('stop')
  
})

////backright
let rightBackInterval;
document.querySelector('#backright').addEventListener('touchstart', function(){
    rightBackInterval=setInterval(()=>{
        action('turn right')
 
    },5)
    setTimeout(()=>{
        action('back')
    },20)
    
})

document.querySelector('#backright').addEventListener('touchend', function(){
    clearInterval(rightBackInterval)
    setTimeout(()=>{
        action('turn forward')
    },10)
   
    action('stop')
  
})
////back

document.querySelector('#back').addEventListener('touchstart', function(){
    action('back')
})
document.querySelector('#back').addEventListener('touchend', function(){
    action('stop')
})





// body.requestFullscreen()

// const center =document.querySelector('#center').addEventListener('ontouchmove',(e)=>{
//     e.preventDefault()
//     action('forward')
//     console.log(e.keyCode);
  
// })
onmausemove= function () {
    
    myDiv =document.querySelector('#center')
    myDiv.style.top =event.y +'px';
    myDiv.style.left =event.x +'px';
  
}

socket.on("offer", (id, description) => {
  peerConnection = new RTCPeerConnection(config);
  peerConnection
    .setRemoteDescription(description)
    .then(() => peerConnection.createAnswer())
    .then(sdp => peerConnection.setLocalDescription(sdp))
    .then(() => {
      socket.emit("answer", id, peerConnection.localDescription);
    });
  peerConnection.ontrack = event => {
    video.srcObject = event.streams[0];
  };
  peerConnection.onicecandidate = event => {
    if (event.candidate) {
      socket.emit("candidate", id, event.candidate);
    }
  };
});


socket.on("candidate", (id, candidate) => {
  peerConnection
    .addIceCandidate(new RTCIceCandidate(candidate))
    .catch(e => console.error(e));
});

socket.on("connect", () => {
  socket.emit("watcher", '<%=userid%>');
});

socket.on("broadcaster", () => {
  socket.emit("watcher", '<%=userid%>');
});

socket.on("disconnectPeer", (userid) => {
  peerConnection.close();
});

window.onunload = window.onbeforeunload = () => {
  socket.close();
};

       function action(command){
        socket.emit("command", command);
       }

        window.onkeydown = e => {
            console.log(e.keyCode);
            switch (e.keyCode) {
                case 87:
                    action('forward')
                   
                    break;
                case 65:
                    action('turn left')
                    break;
                case 68:
                    action('turn right')
                    break;
                case 83:
                    action('back')
                    break;
                case 38:
                    action('cam up')
                    break;
                case 37:
                    action('cam left')
                    break;
                case 39:
                    action('cam right')
                    break;
                case 40:
                    action('cam down')
                    break;
                case 49:
                    action('speed 1')
                    break;
                case 50:
                    action('speed 2')
                    break;
                case 51:
                    action('speed 3')
                    break;
                case 52:
                    action('speed 4')
                    break;
                case 53:
                    action('speed 5')
                    break;
                case 54:
                    action('speed 6')
                    break;

                default:
                    break;
            }
        }

        window.onkeyup = e => {

            switch (e.keyCode) {
                case 87:
                    action('stop')
                    break;
                case 65:
                    action('turn forward')
                    console.log(' forward');
                    break;
                case 68:
                    action('turn forward')
                    break;
                case 83:
                    action('stop')
                    break;
                case 38:
                    action('cam up')
                    break;
                case 37:
                    action('cam left')
                    break;
                case 39:
                    action('cam right')
                    break;
                case 40:
                    action('cam down')
                    break;

                default:
                    break;
            }
        }


    </script>


</body>

</html>